# Dependencies
node_modules
.pnpm-store

# Next
.next
out

# Env
.env
.env.local
.env.*.local

# Debug
npm-debug.log*
pnpm-debug.log*

# IDE
.idea
.vscode

# OS
Thumbs.db
.DS_Store

# Prisma
prisma/migrations/*_migration_lock.toml
!prisma/migrations/migration_lock.toml

# Test / coverage
coverage
.vitest
